apiVersion: v1
kind: Service
metadata:
  name: product-catalog
  annotations:
    auth.istio.io/8080: MUTUAL_TLS
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: product-catalog